In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("train_Titanic.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Pclass       891 non-null    int64
 2   Name         891 non-null    object
 3   Sex          891 non-null    object
 4   Age          714 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Ticket       891 non-null    object
 8   Fare         891 non-null    float64
 9   Cabin        204 non-null    object
 10  Embarked     889 non-null    object
 11  Survived     891 non-null    int64
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [3]:
df_test = pd.read_csv("test_Titanic.csv")     
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.1+ KB

In [4]:
def f(name):
    if '.' in name:
        return name.split(',')[1].split('.')[0].strip()
    else:
        return 'Unknown'

In [5]:
def g(tt):
    if tt in ['Mr']:
        return 1
    elif tt in ['Master']:
        return 3
    elif tt in ['Ms', 'Mlle', 'Miss']:
        return 4
    elif tt in ['Mrs','Mme']:
        return 5
    else:
        return 2

In [6]:
df['title'] = df['Name'].apply(f).apply(g)
df_test['title'] = df_test['Name'].apply(f).apply(g)

In [7]:
# drop unnecessary columns

In [8]:
df      = df.drop(['PassengerId','Name','Ticket'], axis=1)   
df_test = df_test.drop(['Name','Ticket'], axis=1)

In [9]:
# Embarked
# get_dummies: Convert categorical variable into dummy/indicator variables
edt  = pd.get_dummies(df['Embarked'])
edt.drop(['S'], axis=1, inplace=True)
edt_test  = pd.get_dummies(df_test['Embarked'])
edt_test.drop(['S'], axis=1, inplace=True)
df = df.join(edt)
df_test = df_test.join(edt_test)
df.drop(['Embarked'], axis=1,inplace=True)
df_test.drop(['Embarked'], axis=1,inplace=True)

In [10]:
## Fare
# only for df_test, since there is a missing "Fare" values
df_test["Fare"].fillna(df_test["Fare"].median(), inplace=True)

In [11]:
# Age impute
df['Age'] = df.groupby(['Pclass'])['Age'].transform(lambda x: x.fillna(x.mean()))
df_test['Age'] = df_test.groupby(['Pclass'])['Age'].transform(lambda x: x.fillna(x.mean()))

In [12]:
# Cabin
df.drop("Cabin",axis=1,inplace=True)
df_test.drop("Cabin",axis=1,inplace=True)

In [13]:
##sexes
s = sorted(df['Sex'].unique())
z=zip(s, range(0, len(s) + 1))
gm = dict(z)
df['Sex'] = df['Sex'].map(gm).astype(int)
df_test['Sex'] = df_test['Sex'].map(gm).astype(int)