In [1]:
# Importing necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Reading data from 'CFB2019.csv'
df = pd.read_csv('CFB2019.csv')
df.head()

,Team,Games,Win-Loss,Off Rank,Off Plays,Off Yards,Off Yards/Play,Off TDs,Off Yards per Game,Def Rank,...,Average Time of Possession per Game,Turnover Rank,Fumbles Recovered,Opponents Intercepted,Turnovers Gain,Fumbles Lost,Interceptions Thrown.y,Turnovers Lost,Turnover Margin,Avg Turnover Margin per Game
0,Air Force (Mountain West),13,11-2,51,881,5483,6.22,55,421.8,17,...,34:28,78,9,7,16,12,6,18,-2,-0.15
1,Akron (MAC),12,0-12,130,725,2918,4.02,14,243.2,83,...,26:29,128,6,5,11,12,14,26,-15,-1.25
2,Alabama (SEC),13,11-2,6,842,6640,7.89,76,510.8,20,...,29:59,3,11,17,28,4,6,10,18,1.38
3,Appalachian St. (Sun Belt),14,13-1,39,969,6064,6.26,65,433.1,26,...,31:19,7,10,14,24,3,6,9,15,1.07
4,Arizona (Pac-12),12,4-8,30,873,5281,6.05,42,440.1,120,...,27:24,89,4,11,15,6,12,18,-3,-0.25

In [3]:
# Getting information about the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130 entries, 0 to 129
Columns: 146 entries, Team to Avg Turnover Margin per Game
dtypes: float64(29), int64(113), object(4)
memory usage: 148.4+ KB

In [4]:
# Splitting 'Win-Loss' column into 'Win' and 'Loss'
dfn = df['Win-Loss'].str.split('-', expand=True)

In [5]:
# Assigning 'Win' and 'Loss' columns
df['Win'] = dfn[0]
df['Loss'] = dfn[1]

In [6]:
# Dropping 'Win-Loss' column
df.drop(columns=['Win-Loss'], inplace=True)

In [19]:
# Converting 'Win' column to numeric
df[['Win']] = df[['Win']].apply(pd.to_numeric, errors='coerce')

In [ ]:
# Calculating correlation matrix
df_corr = df.corr()

In [ ]:
# Displaying correlation with 'Win' column
df_corr['Win']

In [11]:
# Converting 'Loss' column to numeric
df[['Loss']] = df[['Loss']].apply(pd.to_numeric, errors='coerce')

In [ ]:
# Calculating correlation matrix
df_corr = df.corr()

In [ ]:
# Displaying correlation between 'Loss' and 'Off Plays'
df_corr['Loss']['Off Plays']

In [ ]:
# Calculating Kendall correlation matrix
df_corr_k = df.corr(method='kendall')

In [ ]:
# Displaying correlation with 'Win' column
df_corr_k['Win']

In [ ]:
# Displaying correlations greater than 0.70 with 'Win' column
df_corr[df_corr['Win'] > 0.70]['Win']

In [ ]:
# Plotting a heatmap for the correlation matrix
plt.figure(figsize=(20, 12))
sns.heatmap(df_corr, cmap='YlGnBu', annot=True)

In [ ]:
# Filtering correlations greater than 0.70 with 'Win' column
df_n = df_corr[df_corr['Win'] > 0.70][['Games', 'Off Plays', 'Off Yards', 'Off TDs', 'First Downs', 'Redzone Attempts', 'Win']]
plt.figure(figsize=(20, 12))
sns.heatmap(df_n, cmap='YlGnBu', annot=True)

In [ ]:
# Plotting a pair plot for the filtered correlations
sns.pairplot(df_n)